body {
  font-family: 'Raleway', sans-serif;
}

.cta-section {
  background-color: whitesmoke;
}

.divider {
  width: 400px;
}

.span-text {
  color: #333f72;
}

.game-demo {
  margin-bottom: 30px
}

u {
  text-decoration: none;
  border-bottom: 1px solid black;
};

